*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}
.dashboard__table{
    width: 70%;
    margin: auto;
    margin-top: 50px;
}
.dashbord_delete_btn,.dashbord_edit_btn,.dashbord_approve_btn{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 3px;
    border:2px solid black;
}
.dashbord_delete_btn{
    border-color: red;
}
.dashbord_approve_btn{
    border-color: green;
}
.green{
    color:green;
    font-size: 15px;
}
.red{
    color:red;
    font-size: 15px;

}
.dashbord_edit_btn:hover{
    cursor: pointer;
    background: rgb(66, 156, 240);
}
.dashbord_approve_btn:hover{
    cursor: pointer;
    background: rgb(12, 255, 12);
}
.dashbord_delete_btn:hover{
    cursor: pointer;
    border-color: #f35656;
    background-color: red;
}
.table_icons{
    display: flex;
}