@import url("https://fonts.googleapis.com/css2?family=Ephesis&family=Source+Sans+Pro:ital@1&display=swap");

.home-title > h1 {
  font-family: "Inter", sans-serif;
}
.home-title > h1 > p {
  font-family: "Inter", sans-serif;
}
.home-title > p > p {
  font-family: "Inter", sans-serif;
}
.home-title > p {
  font-family: "Inter", sans-serif;
}
.active {
  background: #2666cf !important;
}
:is(.sell_buy_button) button {
  font-family: "Roboto", sans-serif;
}
.find_btn {
  font-family: "Roboto", sans-serif;
}
form > select,
.form > select {
  font-family: "Roboto", sans-serif;
}










.home_search_button {
  color: #d8f1a0;
}
.home_search_button:hover{border-color: #D8F1A0;}
.home_search_container {
  margin-top: 16px;
  min-height: 400px;
  background: #00a878;
}
.select_price{width: 90%;}
.homeSearch_form>div>select{
  font-family: "Roboto", sans-serif;
  font-size: 14px;

}
a{
  color:black ;
}
.homebanner1_container{
  margin-top: 80px;
  width: 100%;
  height: 60vh;
  background-image: url('https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=80');
background-repeat: no-repeat;
background-position: center;
background-size: cover;


}
.homebanner1_container>div>h1{
  font-family: "Inter", sans-serif;
}
.homebanner1_container>div>p{
  font-family: "Roboto", sans-serif;

}
.homebanner2_container{
  min-height: 450px;
  width: 80%;
  background: #9DB4FB;
  float: right;
}
.hombanner2-title{
  width: 20%;
  margin-top: 120px;
}
.hombanner2-title>h1{
  font-size: 60px;
  font-family: "Inter", sans-serif;
  margin-left: -150px;

}
.hombanner2-title>p{
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  margin-left: -150px;
}
.homebanner2_container>div>img{
position: relative;
  width: 100%;
  height: 450px;
  object-fit: contain;
  border-radius: 10px;
  top: 80px;
  right: 70px;
}


.homebanner3_container{
  min-height: 450px;
  width: 70%;
  background: #9DB4FB;
}
.hombanner3-title{
  width: 20%;
  margin-top: 120px;
  margin-right: -125px;
}
.hombanner3-title>h1{
  font-size: 60px;
  font-family: "Inter", sans-serif;

}
.hombanner3-title>p{
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}
.homebanner3_container>div>img{
position: relative;
  width: 100%;
  height: 450px;
  object-fit: contain;
  border-radius: 10px;
  top: 80px;
  left: 70px;
}