.logo_text>p{
    font-family: 'Lato', sans-serif;
}
.navbar_links>li,.navbar_links>li>a{
    font-family: 'Lato', sans-serif;
    cursor: pointer;

}
.inter{font-family: 'Inter', sans-serif;}
.navbar_links>li:hover{
   text-decoration: underline solid #2666CF;
   text-underline-offset: 8px;
   text-decoration-thickness: 18%;

}